.container-article {
    width: 100%;
}

//Styling for the TITLE of the Article

.header-article {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    
    img {
        width: 400px;
    }
    
    h1 {
        font-size: initial;
        font-size: 2.5rem;
        color: $white;
        background-color: $darkgreen;
        padding: 5px;
        border-radius: 10px;
    }
    
    .level-1 {
    background-color: rgba(3, 172, 19, 0.7); /* GREEN for BEGINNERS */
    }

    .level-2 {
        background-color: $orange; /* ORANGE for INTERMEDIATE */
    }
    
    .level-3 {
        background-color: rgba(255, 0, 0, 0.7); /* RED for ADVANCED */
    }
}

.article-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    color: $darkgrey;
}

.article-content p {
    line-height: 1.6;
    margin-bottom: 1.5em;
}

// STYLING for the COMMENTS section

.comments-add {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    margin-top: 10px;
    border-style: inset;
    border-radius: 10px;
    max-width: 80vw;
    
    h2 {
        margin: 5px 0px 10px 5px;
        color: $black;
        text-align: left;
        text-transform: none;
    }
    
    h3 {
        text-align: left;
    }
    
    textarea {
        border-radius: 10px;
        border: 2px solid $skyblue;
        padding: 2px;
        margin: 0px 5px;
        height: 60px;
    }
    
    ul {
        list-style: none;
        margin: 5px 0px;
        
        p:nth-child(2){
            margin: 10px 0px;
        }
    }
    
    li {
        margin: 5px 0px;
        border: 2px solid $skyblue;
        border-radius: 10px;
        padding: 2px;
        background-color: $black;
        /*background-image: url("../../img/RLgrass.webp");*/
        background-size: cover;
        color: $white;
    }
}

.comments-div {
    
    > p {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    
    // STYLING for the title and image of the article
    .header-article {
    flex-direction: column;
        
        img {
            width: 250px;
        }
    }
    
    // STYLING for the comment section
    .comments-add {
        max-width: 90vw;
        
        form {
            display: flex;
            flex-direction: column;
            
            button {
                margin: 4px;
                width: 60px;
            }
        }
    
        textarea {
            width: 150px;
        }
    }
}