.section-articles {
    padding-bottom: 30px;
    background-color: $black;

    h2, h3, p, a {
        font-size: 0.8em;
    }
    
    .container-filters {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $lightgrey;
        
        h2 {
            margin: 7px;
            padding-left: 20px;
            color: $black;
        }
    }
    
    .filter-buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 5px;
        font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    }
    
    .filter-btn {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        
        a {
            text-decoration: underline;
            color: $black;
        }
        
        &:hover {
        transform: translateY(-5px);
        cursor: pointer;
        }
    }
    
    .container-gris {
        background-color: $black; 
        padding: 20px;
        margin: 30px 10px 0 10px;
        border-radius: 10px;
        box-shadow:
            0 0 6px #fff,
            inset 0 0 6px #fff,
            0 0 12px $skyblue,
            inset 0 0 12px $skyblue,
            0 0 24px $skyblue,
            inset 0 0 24px $skyblue; 
    }
    
    .container-articles {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $white;
        
        h2 {
            text-transform: uppercase;
        }
    }
    
    .container-article-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        a {
            text-decoration: none;
        }
    }
    
    .article-card {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px 0px;
        max-width: 300px; 
        text-align: center;
        
        &:hover {
          box-shadow: 0 0 4px #fff,
                    inset 0 0 4px #fff,
                    0 0 8px $skyblue,
                    inset 0 0 8px $skyblue,
                    0 0 16px $skyblue,
                    inset 0 0 16px $skyblue;
          transform: translateY(-5px);
          cursor: pointer;
          transition-duration: 0.6s;
        }
    }
    
    .article-card img {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }
    
    .container-description {
        padding: 15px;
        background-image: url(../../img/grass.webp);
        
        h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        
        a {
            text-decoration: none;
        }
    
        h3 {
            font-size: 18px;
            color: $white;
            margin-bottom: 10px;
        }
    
        p {
            font-size: 14px;
            color: $white;
        }
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    
    .pagination li {
        margin: 0 5px;
    }
    
    .pagination a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: $white;
        background-color: $skyblue; 
        border-radius: 5px;
        transition: background-color 0.3s ease;
        
        &:hover {
        background-color: #2980b9; 
        }
    }
    
    .pagination .active a {
        background-color: #2c3e50;
        cursor: default;
    }
    
    .pagination .prev a:hover,
    .pagination .next a:hover {
        background-color: #27ae60;
    }
    
/************************************************************************
**************************  TABLET AND DESKTOP **************************
************************************************************************/
    
    @media screen and (min-width: 768px) {
        
    
    .container-article-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        gap: 20px; 
    }
    
    .article-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 20px; 
        text-align: center;
    }
        
    }
}