
.bouton-bleu {
    all: unset;
    background-color: #29B4E0;
    font-family: "Krona One";
    font-size: 0.7rem;
    color: $white;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 6px 10px;
    
    &:hover {
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      transform: translateY(-5px);
  }
}

// LOGIN & REGISTER button

.register-btn {
    display: inline-block;
    background-color: $skyblue;
    color: $white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 80%;
}

// SUBMIT MODIFS button

/*.bouton-submit {
        all: unset;
        background-color: $skyblue;
        font-family: "Krona One";
        font-size: 0.7rem;
        color: $white;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        padding: 5px 8px;
        margin-top: 2em;
        
        &:hover {
            cursor: pointer;
        }
}*/

.bouton-submit {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: $skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
    opacity: 1;
    
    &:hover {
    background-color: $darkblue;
    }
}

// CREATE USER/ARTICLE button

.bouton-create {
  background-color: $skyblue;
  color: $white;
  border: none;
  padding: 6px 18px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 1em;
}

.bouton-create:hover {
  background-color: $darkblue;
}

.bouton-create::before {
  content: "+";
  margin-right: 8px;
  font-size: 24px;
}
