// FORMULAIRES DE CONNEXION ET INSCRIPTION

.container-grass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../img/RLgrass.webp");
    background-size: cover;
    padding: 10px;
    min-height: 94vh;
    background-position: center;
    
    > h1 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 15px;
        font-size: 1.5rem;
        color: $white;
    }
}

.register-form {
    background-color: $white;
    opacity: 0.8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.8em;
    color: $darkgrey;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: arial;
    color: $black;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    text-align: center;
}

.register-btn:hover {
    background-color: $darkblue;
}

/* Responsive */
@media (max-width: 400px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .btn-primary {
        padding: 10px;
    }
}


// FORMULAIRE DE MODIFICATION D'UTILISATEUR


.user-admin-form {
    background-color: $white;
    opacity: 0.9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.container-submit {
    text-align: center;
}

.user-info {
    
    input {
        all: unset;
        color: $black;
        cursor: pointer;
        font: 16px system-ui;
        height: 100%;
        max-width: 70%;
        padding: 6px 10px;
        
        &:focus {
          cursor: text;
          color: $darkgreen;
        }
    }
}


// FORMULAIRE DE REDACTION D'ARTICLE

.article-admin-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px; /* Augmente la largeur maximale */
    margin: 0 auto;
    background-color: $white;
    opacity: 0.95;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajuste le padding pour différents écrans */
@media (max-width: 1200px) {
    .article-admin-form {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .article-admin-form {
        max-width: 95%; /* Pour les petits écrans */
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .article-admin-form {
        max-width: 100%;
        padding: 5px;
    }
}

/* Garde les autres styles similaires */
.article-admin-form {
    .form-group {
    margin-bottom: 15px;
    
        .form-text {
            font-size: 12px;
            font-family: Arial;
        }
    }

    label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }
    
    .edit-img {
        display: flex;
        flex-direction: column;
        
        input {
            margin : 2px 0px 2px 0px;
        }
    }


    input[type="text"],
    input[type="date"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    textarea {
        resize: vertical;
        min-height: 100px;
    }
}
