main {
    font-family: Krona One;
}

#container-video {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#know-more {
    position: relative;
    height: 2rem;
    width: 10rem;
    z-index: 1;
    margin-bottom: 2rem;
}

.welcome {
    text-align: center;
}

#welcome-text {
    background-color: $darkblue;
    color: #FFFFFF;
    padding: 1rem;
}

#welcome-text h1 {
    font-size: clamp(1rem, 2.5vw, 3rem);
}

#welcome-text p {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.welcome .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-height: 20vw;
}

.welcome .icon {
    flex: 1;
    text-align: center;
    width: 40%;
}

.icon img {
    height: 80%;
}

.articles {
    background-color: $darkgrey;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.container-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-item {
    flex: 1; /* S'assure que tous les items prennent la même largeur */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-item img {
    width: 100%;
    border-radius: 5px;
}

.article-item p {
    margin-top: 1em;
}

@media screen and (min-width: 425px) {
    
    .container-articles {
    flex-direction: row;
    justify-content: space-between;
}

    .article-item {
        max-width: 31%;
    }

}