main {
    font-family: Krona One;
}

#container-video {
    position: relative;
    z-index: 1;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#know-more {
    position: relative;
    height: 2rem;
    width: 10rem;
    z-index: 2;
    margin-bottom: 2rem;
}

.welcome {
    text-align: center;
}

#welcome-text {
    background-color: $darkblue;
    color: #FFFFFF;
    padding: 1rem;
}

#welcome-text h1 {
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: $white;
}

#welcome-text p {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.welcome .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-height: 20vw;
}

.welcome .icon {
    flex: 1;
    text-align: center;
    width: 40%;
}

.icon img {
    height: 80%;
}

// Affichage et soulignage des liens de menu

.icon a {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: $black;
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $black;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {

        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   
}

// Mise en forme de la section sur les Derniers Articles

.articles {
    background-color: $darkgrey;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.container-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1rem;
}

.article-item {
    flex: 1; /* S'assure que tous les items prennent la même largeur */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-item img {
    width: 100%;
    border-radius: 5px;
}

.article-item p {
    margin-top: 1em;
}

@media screen and (min-width: 425px) {
    
    .container-articles {
    flex-direction: row;
    justify-content: space-between;
}

    .article-item {
        max-width: 31%;
    }

}