.table-container {
    width: 90%;
    overflow-x: auto;
    border-radius: 20px;
    
    th, 
    td {
        padding: 10px;
        border: 1px solid $darkgrey;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }
    
    th:nth-child(2), 
    td:nth-child(2) {
        width: 70%; 
    }
    
    th:nth-child(4), 
    td:nth-child(4) {
        width: 5%; 
    }
    
    th:nth-child(5), 
    td:nth-child(5) {
        width: 15%; 
    }
    
    th:nth-child(3), 
    td:nth-child(3) {
        width: 15%;
    }
    
    th:nth-child(6), 
    td:nth-child(6) {
        width: 10%; 
    }
}

table {
    @include table-styles();
}


h1 {
    @include heading-style(26px, 'Krona One',  20px, 25px, $white, bold, uppercase, 1.2, center, none);
}

h2 {
    @include heading-style(20px, 'Krona One',  0px, 10px, $white, bold, uppercase, 1.2, center, none);
}

h3 {
    @include heading-style(18px, 'Krona One',  0px, 10px, $black, bold, none, 1.2, center, none);
}