@import "_varsColors";
@import "_mixins";
@import "_header";
@import "_messages";
@import "_buttons";
@import "_home";
@import "_articles";
@import "_dashboard";
@import "_modifyUser";
@import "_forum";
@import "_tables";
@import "_forms";
@import "_footer";


html {
    font-size: 62,5%;
    font-family: "Krona One";
}

main {
    min-height: 94vh;
}