<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Rocket Tips est une plateforme dédiée aux joueurs de Rocket League, offrant des conseils, des stratégies et un forum pour échanger avec la communauté. Améliorez votre gameplay avec des articles pour débutants, intermédiaires et avancés !">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bd5d7da3bf.js" crossorigin="anonymous"></script>
        <title>
            {% block title %}
                | Rocket Tips
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/styles/css/style.css">
        {% endblock %}
    </head>
    <body class="container-all">
        
        {% block header %}
            <header class="header">
                <nav>
                    <a href="?route=home" class="nav-icon" aria-label="visit homepage" aria-current="page">
                        <img src="./assets/img/rltips-logo.webp" alt="Rocket Tips logo">
                        <span id="titre-logo">Rocket Tips</span>
                    </a>
                    
                    <div class="main-navlinks">
                        <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="navlinks-container">
                            {% if session.role != "ADMIN" %}
                                <a href="?route=home" aria-current="page">Accueil</a>
                            {% endif %}
                            <a href="?route=articles">Articles</a>
                            <a href="?route=forum">Forum</a>
                            {% if session.role == "ADMIN" %}
                                <a href="?route=dashboard">Dashboard</a>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="nav-authentication">
                        <a href="?route=inscription" class="user-toggler" aria-label="Sign in page">
                          <img src="./assets/img/user.svg" alt="user icon">
                        </a>
                        <div class="sign-btns">
                            {% if not session.user is defined %}
                                <a href="?route=inscription">Inscription</a>
                                <a href="?route=connexion">Connexion</a>
                            {% else %}
                                <a href="?route=deconnexion">Déconnexion</a>
                            {% endif %}
                          
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}


        {% block main %}
        {% endblock %}

        {% block footer %}
            <footer class="footer">
                <section class="footer-main">
                    <p>Copyright : Kilian Janus</p>
                     <ul class="footer-links">
                                {% if session.role != "ADMIN" %}
                                    <li><a href="?route=home" aria-current="page">Accueil</a></li>
                                {% endif %}
                                <li><a href="?route=articles">Articles</a></li>
                                <li><a href="?route=forum">Forum</a></li>
                                {% if session.role == "ADMIN" %}
                                    <li><a href="?route=dashboard">Dashboard</a></li>
                                    <li><a href="?route=home" aria-current="page">Accueil</a></li>
                                {% endif %}
                            </ul>
                    <div class="social">
                        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com/?lang=fr"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.facebook.com/?locale=fr_FR"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://discord.com/"><i class="fa-brands fa-discord"></i></a>
                    </div>
                </section>
                
                <p class="legal">© 2024 
                    <a href="http://www.rocket-tips.com/fr" target="_blank">Rocket Tips</a>
                    . Tous droits réservés. 
                    <a href="https://www.rocket-tips.com/fr/cgu" target="_blank">
                        Conditions d'utilisation</a> - 
                    <a href="https://www.rocket-tips.com/fr/politique-confidentialite" target="_blank">
                        Politique de confidentialité</a> - 
                    <a href="https://www.rocket-tips.com/fr/cgv" target="_blank">
                        Conditions Générales de Vente</a> - 
                    <a href="https://www.rocket-tips.com/fr/mentions-legales?ref=dofus" target="_blank">Mentions Légales</a>
                </p>
            
            </footer>
        {% endblock %}
        
        {% block javascript %}
            <script src="assets/js/main.js"></script>
            {% if scripts is defined %}
                {% for script in scripts %}
                    <script src="{{ script }}"></script>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>