{% extends 'front/layout.html.twig' %}

{% block title %}Forum{{ parent() }}{% endblock %}

{% block main %}
    <section id="section-forum">
        <article class="container-forum">
            <h1>FORUM EN CONSTRUCTION</h1>
            <p>Dans quelques semaines, retrouve ici le forum de la communauté Rocket Tips !</p>
        </article>
        <div class="container-image-forum">
            <img src="./assets/img/maintenance.png">
        </div>
    </section>

{% endblock %}