@charset "UTF-8";
/**
  * Mixin to style tables with customizable options.
  *
  * @param {String} $border-color         - The color of the table borders.
  * @param {String} $header-bg-color      - The background color of the table headers.
  * @param {String} $header-text-color    - The text color of the table headers.
  * @param {String} $row-hover-bg-color   - The background color of table rows on hover.
  * @param {String} $striped-row-bg-color - The background color of striped table rows.
  * @param {String} $text-color           - The text color of the table cells.
  * @param {String} $padding              - The padding inside table cells.
  * @param {String} $border-width         - The width of the table borders.
  * @param {String} $border-style         - The style of the table borders.
  *
  * Use:
  *   @include table-styles();
*/
/**
 * Mixin to style all heading levels (h1, h2, h3, h4, h5, h6) and label with customizable options.
 *
 * @param {String|Number} $font-size      - The font size of the heading text.
 * @param {String}        $font-family    - The font-family of the heading text.
 * @param {String|Number} $margin-top     - The top margin of the heading.
 * @param {String|Number} $margin-bottom  - The bottom margin of the heading.
 * @param {String}        $color          - The color of the heading text.
 * @param {String}        $font-weight    - The font weight of the heading text.
 * @param {String}        $text-transform - The text transformation (uppercase, lowercase, capitalize, small-caps, none).
 * @param {String}        $line-height    - The line height of the heading text.
 * @param {String}        $text-align     - The text alignment (left, center, right, justify, justify-all, start, end).
 * @param {String}        $text-decor     - The text decoration (none, underline, overline, line-through, blink).

 *
 * Use:
 *    @include heading-style(36px, 'Krona One',  20px, 15px, $black, bold, uppercase, 1.2, center, none);
 */
/**
 * Mixin to style buttons based on their type.
 *
 * @param {String} $type - The type of button, can be 'danger', 'warning', 'validate', or other.
 *
 * Use:
 *   @include button-styles('danger');
 */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Krona One";
  background-color: #000000;
  position: relative;
  z-index: 10;
}

header img {
  width: 40px;
}

header nav {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #000000;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}
header nav #titre-logo {
  font-weight: 600;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Saut vers le haut de 20px */
  }
  60% {
    transform: translateY(-10px);
  }
}
.bounce {
  animation: bounce 0.5s ease;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.nav-icon span {
  font-family: "Krona One";
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: clamp(0.4rem, 1.8vw, 1rem);
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform-origin: left;
  background: #FFFFFF;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns {
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}

.sign-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  font-size: clamp(0.5rem, 1.8vw, 0.7rem);
  font-family: "Krona One";
  color: #18181C;
  border-radius: 10px;
  width: 15rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transition: all 0.4s ease;
}

.sign-btns a:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.sign-btns a:nth-child(2) {
  border: none;
  background-color: #29B4E0;
  color: #FFFFFF;
}

.user-toggler {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }
  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }
  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }
  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #18181C;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #18181C;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    width: 100%;
    padding: 15px 20px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transition: transform 0.4s ease-out;
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
    background-color: #333333;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }
  .navlinks-container a:hover::after {
    transform: scaleX(0.95);
  }
  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }
  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }
  .user-toggler img {
    width: 20px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 357px) {
  header nav {
    justify-content: space-around;
    padding: 15px 3px;
  }
}
.alert {
  /*display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;*/
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: 2px solid;
  width: 65%;
  text-align: center;
}

.error {
  border-color: #FF0000;
  background-color: #FF0000;
  opacity: 0.9;
}

.success {
  border-color: #03AC13;
  background-color: #03AC13;
  opacity: 0.9;
}

.bouton-bleu {
  all: unset;
  background-color: #29B4E0;
  font-family: "Krona One";
  font-size: 0.7rem;
  color: #FFFFFF;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  padding: 6px 10px;
}
.bouton-bleu:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.register-btn {
  display: inline-block;
  background-color: #29B4E0;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: 80%;
}

.bouton-submit {
  all: unset;
  background-color: #29B4E0;
  font-family: "Krona One";
  font-size: 0.7rem;
  color: #FFFFFF;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  padding: 5px 8px;
  margin-top: 2em;
}
.bouton-submit:hover {
  cursor: pointer;
}

main {
  font-family: Krona One;
}

#container-video {
  position: relative;
  z-index: 1;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

#know-more {
  position: relative;
  height: 2rem;
  width: 10rem;
  z-index: 2;
  margin-bottom: 2rem;
}

.welcome {
  text-align: center;
}

#welcome-text {
  background-color: #047ea5;
  color: #FFFFFF;
  padding: 1rem;
}

#welcome-text h1 {
  font-size: clamp(1rem, 2.5vw, 3rem);
  color: #FFFFFF;
}

#welcome-text p {
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.welcome .icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  max-height: 20vw;
}

.welcome .icon {
  flex: 1;
  text-align: center;
  width: 40%;
}

.icon img {
  height: 80%;
}

.icon a {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  color: #18181C;
  transition: all 0.35s ease;
}
.icon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #18181C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.icon a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.articles {
  background-color: #333333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.container-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.article-item {
  flex: 1; /* S'assure que tous les items prennent la même largeur */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-item img {
  width: 100%;
  border-radius: 5px;
}

.article-item p {
  margin-top: 1em;
}

@media screen and (min-width: 425px) {
  .container-articles {
    flex-direction: row;
    justify-content: space-between;
  }
  .article-item {
    max-width: 31%;
  }
}
.section-articles {
  padding-bottom: 30px;
  background-color: #18181C;
  /* Style optionnel pour les boutons "Précédent" et "Suivant" si vous décidez de les ajouter 
  .pagination .prev a,
  .pagination .next a {
      background-color: #2ecc71;  Vert, pour les différencier 
  } */
}
.section-articles h2, .section-articles h3, .section-articles p, .section-articles a {
  font-size: 0.8em;
}
.section-articles .container-filters {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #D9D9D9;
}
.section-articles .container-filters h2 {
  margin: 7px;
  padding-left: 20px;
}
.section-articles .filter-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}
.section-articles .filter-btn {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.section-articles .filter-btn a {
  text-decoration: underline;
  color: #18181C;
}
.section-articles .filter-btn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.section-articles .container-gris {
  background-color: #18181C;
  padding: 20px;
  margin: 30px 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px #fff, inset 0 0 6px #fff, 0 0 12px #29B4E0, inset 0 0 12px #29B4E0, 0 0 24px #29B4E0, inset 0 0 24px #29B4E0;
}
.section-articles .container-articles {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
}
.section-articles .container-article-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.section-articles .article-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  max-width: 300px;
  text-align: center;
  /*flex: 1;*/
}
.section-articles .article-card:hover {
  /*box-shadow: 0 8px 15px rgba(41, 180, 224, 0.5);*/
  box-shadow: 0 0 4px #fff, inset 0 0 4px #fff, 0 0 8px #29B4E0, inset 0 0 8px #29B4E0, 0 0 16px #29B4E0, inset 0 0 16px #29B4E0;
  transform: translateY(-5px);
  cursor: pointer;
  transition-duration: 0.6s;
}
.section-articles .article-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-articles .container-description {
  padding: 15px;
  background-image: url(../../img/grass.webp);
}
.section-articles .container-description h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.section-articles .container-description a {
  text-decoration: none;
}
.section-articles .container-description h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.section-articles .container-description p {
  font-size: 14px;
  color: #FFFFFF;
}
.section-articles .pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.section-articles .pagination li {
  margin: 0 5px;
}
.section-articles .pagination a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #29B4E0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.section-articles .pagination a:hover {
  background-color: #2980b9;
}
.section-articles .pagination .active a {
  background-color: #2c3e50; /* Couleur foncée pour la page active */
  cursor: default;
}
.section-articles .pagination .prev a:hover,
.section-articles .pagination .next a:hover {
  background-color: #27ae60;
}
@media screen and (min-width: 768px) {
  .section-articles .container-article-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  .section-articles .article-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
}

.dashboard section {
  min-height: 87vh;
}
.dashboard section a {
  display: block;
  font-family: "Krona One", Arial;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  background-color: #2E8B57;
  color: #FFFFFF;
  border: 1px solid white;
  margin-bottom: 20px;
}
.dashboard section a:hover {
  background-color: #FFFFFF;
  color: green;
}

#section-forum {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-color: #18181C;
  min-height: 90vh;
  color: #FFFFFF;
}
#section-forum .container-forum {
  padding: 2rem;
  box-shadow: 0 0 4px #fff, inset 0 0 4px #fff, 0 0 8px #29B4E0, inset 0 0 8px #29B4E0, 0 0 16px #29B4E0, inset 0 0 16px #29B4E0;
}
#section-forum .container-forum h1 {
  margin: 1em;
  color: #FFFFFF;
}
#section-forum .container-forum p {
  margin: 1em;
}
#section-forum div {
  margin: auto;
}
#section-forum img {
  object-fit: cover;
  max-width: 15rem;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  background-color: #FFFFFF;
  font-family: "Krona One", Arial;
  border-collapse: collapse;
  color: #18181C;
  table-layout: auto;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid #18181C;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #047ea5;
  color: #FFFFFF;
  font-weight: bold;
}
table tr:nth-child(odd) {
  background-color: #FFFFFF;
}
table tr:nth-child(even) {
  background-color: #D9D9D9;
}
table tr:hover {
  background-color: #29B4E0;
}
table th, table td {
  text-align: center;
}

h1 {
  font-size: 26px;
  font-family: "Krona One", Arial;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #18181C;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.container-grass {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/RLgrass.webp");
  background-size: cover;
  padding: 10px;
  height: 94vh;
}
.container-grass h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.register-form {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
}

fieldset {
  border: none;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 0.8em;
  color: #333333;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: arial;
  color: #18181C;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  text-align: center;
}

.register-btn:hover {
  background-color: #047ea5;
}

/* Responsive */
@media (max-width: 400px) {
  form {
    padding: 15px;
  }
  h1 {
    font-size: 1.2rem;
  }
  .btn-primary {
    padding: 10px;
  }
}
.user-admin-form {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
}

.container-submit {
  text-align: center;
}

.user-info input {
  all: unset;
  color: #18181C;
  cursor: pointer;
  font: 16px system-ui;
  height: 100%;
  max-width: 70%;
  padding: 6px 10px;
}
.user-info input:focus {
  cursor: text;
  color: #095500;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #010a13;
  color: #FFFFFF;
  text-align: center;
  padding: 0;
}

.footer p {
  font-family: "Krona One";
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  margin-left: 1vw;
}

.social {
  display: flex;
  padding: 1em;
}

.social a {
  text-decoration: none;
  color: #29B4E0;
}

.social a:hover {
  background-color: #1E2328;
  border-radius: 1em;
}

.social i {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
}

/*.social a:visited {
    color: #C89C3D;
  }*/
.social a:active {
  color: white;
}

@media screen and (max-width: 375px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #010a13;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
  }
}
html {
  font-size: 62, 5%;
  font-family: "Krona One";
}

main {
  min-height: 94vh;
}

/*# sourceMappingURL=style.css.map */
